@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Emp

<form method="post">
    <input type="hidden" asp-for="Eid" /><br />
    Name <input type="text" asp-for="EmpName" /><br />

    Email<input type="text" asp-for="EmpEmail" /><br />

    Salary<input type="text" asp-for="SalaryOfEmp" /><br />

    <input type="submit" />
</form>